@charset "UTF-8";
/* app.sass */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani");
@import url("//db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ul,
ol {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

em,
dfn,
i {
  font-style: normal; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: none; }

input,
select {
  vertical-align: middle; }

input {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

input[type="checkbox"] {
  appearance: none; }

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none; }

/* 구글 웹 폰트 적용 */
@font-face {
  font-family: "Apple SD Gothic Neo";
  src: url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot");
  src: url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff") format("woff"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.svg#Apple SD Gothic Neo") format("svg"); }

/* 공통 스타일 */
#popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: table;
  font-family: "Apple SD Gothic Neo";
  font-size: 16px;
  font-weight: 500; }
  #popup .wrapper {
    display: table-cell;
    vertical-align: middle; }
    #popup .wrapper .contents {
      position: relative;
      width: 85vw;
      max-width: 350px;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 24px 24px 34px 24px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); }
      #popup .wrapper .contents .top {
        font-weight: bold; }
      #popup .wrapper .contents .message {
        font-size: 14px;
        margin-top: 5px; }
      #popup .wrapper .contents .btns {
        position: absolute;
        top: 16px;
        right: 24px;
        margin-top: 5px;
        text-align: right; }
        #popup .wrapper .contents .btns button {
          width: 24px;
          height: 24px;
          padding: 0;
          background-color: transparent;
          color: #fff;
          border: none;
          outline: none; }
          #popup .wrapper .contents .btns button img {
            vertical-align: middle; }

aside {
  display: none; }

@media only screen and (max-width: 768px) {
  aside {
    display: block;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: -100%;
    transition: all .2s ease-in; }
    aside.active {
      margin-left: 0%; }
    aside .wrapper {
      width: 100%;
      height: 100%;
      background-color: #FFF;
      padding-top: 20px; }
      aside .wrapper .title {
        font-size: 2.0rem;
        text-align: right;
        padding-right: 30px;
        color: #999; }
      aside .wrapper .contents {
        padding-top: 20px; }
        aside .wrapper .contents li {
          height: 50px;
          line-height: 50px;
          padding-left: 40px;
          box-sizing: border-box;
          font-size: 1.3rem; }
          aside .wrapper .contents li div {
            border-bottom: 1px solid #ccc;
            position: relative;
            padding-left: 12px; }
            aside .wrapper .contents li div span i {
              position: absolute;
              top: 18px;
              right: 12px;
              color: #999; } }

.svg-icon-important-ver-2-14 {
  background: url("/svg/sprite.css-60b06065.svg") no-repeat; }

.svg-icon-important-ver-2-14 {
  background-position: 0 0; }

.svg-icon-important-ver-2-14-dims {
  width: 18px;
  height: 18px; }

html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR";
  font-size: 10px;
  font-weight: 300; }

button {
  background-color: transparent;
  border: none;
  outline: none; }

.mobile {
  display: block; }

.desktop {
  display: none; }

#detail {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  /* app.sass */ }
  #detail header {
    position: relative;
    min-width: 320px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 999; }
    #detail header .alert {
      position: relative;
      height: 40px;
      line-height: 40px;
      background-color: #222;
      text-align: center;
      font-size: 1.2rem;
      color: #fff; }
      #detail header .alert .left {
        position: absolute;
        top: 15px;
        left: 10px;
        transition: all .2s ease-in; }
        #detail header .alert .left:hover {
          color: #666; }
      #detail header .alert .list {
        display: flex;
        transition: all .2s ease-in; }
        #detail header .alert .list li {
          min-width: 100%; }
        #detail header .alert .list.step2 {
          transform: translate(-100%); }
        #detail header .alert .list.step3 {
          transform: translate(-200%); }
      #detail header .alert .right {
        position: absolute;
        top: 15px;
        right: 10px;
        transition: all .2s ease-in; }
        #detail header .alert .right:hover {
          color: #666; }
    #detail header .content {
      display: flex;
      padding: 18px 12px;
      text-align: center; }
      #detail header .content .left {
        flex: 1;
        text-align: left;
        height: 42px;
        line-height: 42px;
        transition: all .2s ease-in; }
        #detail header .content .left i {
          font-size: 1.6rem;
          color: #999; }
      #detail header .content .logo {
        flex: 1;
        transition: all .2s ease-in; }
        #detail header .content .logo img {
          height: 42px;
          margin: 0 auto; }
      #detail header .content .center {
        display: none; }
      #detail header .content .right {
        flex: 1;
        text-align: right;
        height: 42px;
        line-height: 42px;
        transition: all .2s ease-in; }
        #detail header .content .right i {
          font-size: 1.6rem;
          color: #999;
          margin-left: 5px; }
  #detail main section {
    position: relative;
    min-width: 320px; }
    #detail main section .content-detail {
      position: relative;
      margin-bottom: 100px; }
      #detail main section .content-detail .imgs .wrapper {
        margin-left: initial; }
        #detail main section .content-detail .imgs .wrapper ul li div {
          height: 400px; }
          #detail main section .content-detail .imgs .wrapper ul li div img {
            width: 100%;
            min-width: 320px; }
      #detail main section .content-detail .desc {
        position: absolute;
        left: 0px;
        bottom: -100px;
        padding: 20px;
        z-index: 1; }
        #detail main section .content-detail .desc .tag span {
          border: 1px solid #ccc;
          font-size: 12px;
          padding: 2px 5px; }
        #detail main section .content-detail .desc .designer {
          margin-top: 5px;
          font-family: "Apple SD Gothic Neo";
          font-size: 3.0rem; }
        #detail main section .content-detail .desc .name {
          font-size: 2.0rem; }
        #detail main section .content-detail .desc .before {
          font-family: "Apple SD Gothic Neo";
          font-size: 1.6rem;
          color: #222;
          text-decoration: line-through; }
        #detail main section .content-detail .desc .after {
          font-family: "Apple SD Gothic Neo";
          font-size: 1.6rem;
          color: #c41429; }
        #detail main section .content-detail .desc .btns {
          display: inline-block;
          line-height: 45px; }
          #detail main section .content-detail .desc .btns svg {
            cursor: pointer;
            overflow: visible;
            width: 45px; }
            #detail main section .content-detail .desc .btns svg #heart {
              fill: #ccc;
              transform-origin: center;
              animation: animateHeartOut .3s linear forwards; }
            #detail main section .content-detail .desc .btns svg #main-circ {
              transform-origin: 29.5px 29.5px; }
          #detail main section .content-detail .desc .btns #like {
            display: none; }
          #detail main section .content-detail .desc .btns #like + label svg {
            vertical-align: bottom; }
          #detail main section .content-detail .desc .btns #like:checked + label svg {
            vertical-align: bottom; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #heart {
              transform: scale(0.2);
              fill: #E2264D;
              animation: animateHeart .3s linear forwards .25s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #main-circ {
              transition: all 2s;
              animation: animateCircle .3s linear forwards;
              opacity: 1; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp1 {
              opacity: 1;
              transition: .1s all .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp1 #oval1 {
                transform: scale(0) translate(0, -30px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp1 #oval2 {
                transform: scale(0) translate(10px, -50px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp2 {
              opacity: 1;
              transition: .1s all .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp2 #oval1 {
                transform: scale(0) translate(30px, -15px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp2 #oval2 {
                transform: scale(0) translate(60px, -15px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp3 {
              opacity: 1;
              transition: .1s all .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp3 #oval1 {
                transform: scale(0) translate(30px, 0px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp3 #oval2 {
                transform: scale(0) translate(60px, 10px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp4 {
              opacity: 1;
              transition: .1s all .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp4 #oval1 {
                transform: scale(0) translate(30px, 15px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp4 #oval2 {
                transform: scale(0) translate(40px, 50px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp5 {
              opacity: 1;
              transition: .1s all .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp5 #oval1 {
                transform: scale(0) translate(-10px, 20px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp5 #oval2 {
                transform: scale(0) translate(-60px, 30px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp6 {
              opacity: 1;
              transition: .1s all .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp6 #oval1 {
                transform: scale(0) translate(-30px, 0px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp6 #oval2 {
                transform: scale(0) translate(-60px, -5px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp7 {
              opacity: 1;
              transition: .1s all .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp7 #oval1 {
                transform: scale(0) translate(-30px, -15px);
                transform-origin: 0 0 0;
                transition: .5s transform .3s; }
              #detail main section .content-detail .desc .btns #like:checked + label svg #grp7 #oval2 {
                transform: scale(0) translate(-55px, -30px);
                transform-origin: 0 0 0;
                transition: 1.5s transform .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp2 {
              opacity: 1;
              transition: .1s opacity .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp3 {
              opacity: 1;
              transition: .1s opacity .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp4 {
              opacity: 1;
              transition: .1s opacity .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp5 {
              opacity: 1;
              transition: .1s opacity .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp6 {
              opacity: 1;
              transition: .1s opacity .3s; }
            #detail main section .content-detail .desc .btns #like:checked + label svg #grp7 {
              opacity: 1;
              transition: .1s opacity .3s; }

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #DD4688; }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #D46ABF; }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #CC8EF5; }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .5; }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .2; }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: .1; }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #CC8EF5;
    stroke-width: 0; } }

@keyframes animateHeart {
  0% {
    transform: scale(0.2); }
  40% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }
          #detail main section .content-detail .desc .btns .go {
            box-sizing: border-box;
            padding: 5px 12px;
            font-size: 15px;
            background-color: #222;
            color: #fff;
            vertical-align: middle;
            border-radius: 5px;
            margin-right: 5px; }
          #detail main section .content-detail .desc .btns span {
            margin-top: 20px;
            font-family: "Apple SD Gothic Neo";
            line-height: 45px;
            font-size: 1.2rem; }
      #detail main section .content-detail .swiper-button-prev:after, #detail main section .content-detail .swiper-button-next:after {
        color: #222;
        opacity: .2; }
      #detail main section .content-detail .pagination {
        height: 50px;
        line-height: 50px; }
        #detail main section .content-detail .pagination .swiper-pagination {
          width: 100%;
          text-align: right;
          padding-right: 20px;
          box-sizing: border-box; }
          #detail main section .content-detail .pagination .swiper-pagination .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin-right: 5px; }
            #detail main section .content-detail .pagination .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
              background-color: #222 !important; }
    #detail main section .content-comment {
      padding: 20px; }
      #detail main section .content-comment .title {
        font-family: "Apple SD Gothic Neo";
        font-size: 2.4rem; }
      #detail main section .content-comment .comment {
        margin-top: 40px; }
        #detail main section .content-comment .comment .desc {
          margin-top: 10px;
          font-size: 1.6rem; }
      #detail main section .content-comment .graph {
        margin-top: 40px; }
        #detail main section .content-comment .graph .circles {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; }
          #detail main section .content-comment .graph .circles .wrapper {
            position: relative;
            min-width: 50%;
            max-width: 50%;
            padding: 30px;
            box-sizing: border-box;
            transition: all .2s ease-in; }
            #detail main section .content-comment .graph .circles .wrapper svg {
              height: 100%;
              transform: rotate(-90deg);
              width: 100%; }
            #detail main section .content-comment .graph .circles .wrapper .progress-bar__background {
              fill: none;
              stroke: #e2eff0;
              stroke-width: 1.8; }
            #detail main section .content-comment .graph .circles .wrapper .progress-bar__progress {
              fill: none;
              stroke: #e2eff0;
              stroke: #78bec7;
              stroke-dasharray: 100 100;
              stroke-dashoffset: 40;
              stroke-linecap: round;
              stroke-width: 1.8;
              transition: stroke-dashoffset 1s ease-in-out; }
            #detail main section .content-comment .graph .circles .wrapper .pt {
              position: absolute;
              display: inline-block;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
              font-family: "Apple SD Gothic Neo";
              font-size: 2.0rem;
              transition: all .2s ease-in; }
              #detail main section .content-comment .graph .circles .wrapper .pt .point {
                font-size: 3.4rem; }
              #detail main section .content-comment .graph .circles .wrapper .pt .sub {
                font-size: 1.8rem; }
      #detail main section .content-comment .review {
        margin-top: 40px; }
        #detail main section .content-comment .review .reviews {
          padding-top: 30px;
          padding-bottom: 30px;
          overflow: hidden; }
          #detail main section .content-comment .review .reviews .clearfix:after {
            content: "";
            display: table;
            clear: both; }
          #detail main section .content-comment .review .reviews ul li {
            float: left;
            box-sizing: border-box;
            width: 300px;
            padding: 20px 10px; }
            #detail main section .content-comment .review .reviews ul li .wrapper {
              position: relative;
              box-sizing: border-box;
              width: 100%;
              height: 250px;
              overflow: hidden;
              box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2); }
              #detail main section .content-comment .review .reviews ul li .wrapper img {
                width: 100%; }
              #detail main section .content-comment .review .reviews ul li .wrapper .desc {
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 0px;
                background-color: #fff;
                box-sizing: border-box;
                padding: 12px; }
                #detail main section .content-comment .review .reviews ul li .wrapper .desc .social {
                  width: 30px;
                  height: 30px;
                  position: absolute;
                  top: -20px;
                  left: 10px;
                  border-radius: 15px;
                  background-color: #fff; }
                #detail main section .content-comment .review .reviews ul li .wrapper .desc .subject {
                  font-size: 1.6rem; }
                #detail main section .content-comment .review .reviews ul li .wrapper .desc .content {
                  margin-top: 10px;
                  height: 0px;
                  overflow: hidden;
                  font-size: 1.3rem;
                  color: #666;
                  transition: all .2s ease-in; }
                #detail main section .content-comment .review .reviews ul li .wrapper .desc .link {
                  margin-top: 15px;
                  font-size: 1.3rem;
                  line-height: 30px;
                  cursor: pointer; }
                  #detail main section .content-comment .review .reviews ul li .wrapper .desc .link i {
                    margin-left: 2px; }
                  #detail main section .content-comment .review .reviews ul li .wrapper .desc .link:hover {
                    border-bottom: 1px solid #ccc; }
              #detail main section .content-comment .review .reviews ul li .wrapper:hover .desc .content {
                height: 70px; }
  #detail footer {
    width: 100%;
    padding: 18px 12px;
    font-size: 1.2rem;
    background-color: #222;
    transition: all .2s ease-in; }
    #detail footer .wrapper {
      height: 400px;
      color: #aaa; }
      #detail footer .wrapper .logo img {
        width: 100px; }
      #detail footer .wrapper .policy {
        margin-top: 10px;
        padding: 5px;
        border-bottom: 1px solid #aaa; }
        #detail footer .wrapper .policy ul li {
          margin-bottom: 5px; }
          #detail footer .wrapper .policy ul li span {
            cursor: pointer;
            transition: all .2s ease-in; }
            #detail footer .wrapper .policy ul li span:hover {
              border-bottom: 1px solid #aaa; }
      #detail footer .wrapper .copy {
        margin-top: 5px; }
  @media only screen and (min-width: 769px) {
    #detail .mobile {
      display: none; }
    #detail .desktop {
      display: block; }
    #detail header .alert .left {
      left: 100px; }
    #detail header .alert .right {
      right: 100px; }
    #detail header .content {
      padding: 18px 12px; }
      #detail header .content .left {
        height: 22px;
        line-height: 22px; }
      #detail header .content .logo {
        text-align: left;
        margin-left: 100px; }
        #detail header .content .logo img {
          margin: initial;
          height: 22px; }
      #detail header .content .center {
        display: block; }
        #detail header .content .center ul {
          display: flex;
          flex-direction: row;
          font-size: 1.3rem; }
          #detail header .content .center ul li {
            width: 100px;
            flex: 1 1 auto;
            box-sizing: border-box; }
            #detail header .content .center ul li span {
              transition: all .2s ease-in;
              border-bottom: 1px solid transparent;
              cursor: pointer; }
              #detail header .content .center ul li span:hover {
                border-color: #222; }
      #detail header .content .right {
        height: 22px;
        line-height: 22px;
        margin-right: 100px; }
    #detail main section .content-detail {
      max-width: 1280px;
      margin: 0 auto; }
      #detail main section .content-detail .imgs {
        margin-left: 50px; }
        #detail main section .content-detail .imgs .wrapper {
          width: 70%; }
          #detail main section .content-detail .imgs .wrapper ul li {
            display: inline;
            min-width: 100%; }
            #detail main section .content-detail .imgs .wrapper ul li div {
              height: 600px; }
      #detail main section .content-detail .desc {
        left: initial;
        right: 50px;
        bottom: 100px;
        background-color: #FFF; }
      #detail main section .content-detail .pagination .swiper-pagination {
        text-align: left;
        padding-left: 70px; }
    #detail main section .content-comment {
      max-width: 1100px;
      margin: 0 auto; }
      #detail main section .content-comment .graph .circles .wrapper {
        min-width: 25%;
        max-width: 25%; }
        #detail main section .content-comment .graph .circles .wrapper .pt .point {
          font-size: 3.6rem; }
        #detail main section .content-comment .graph .circles .wrapper .pt .sub {
          font-size: 2.0rem; }
    #detail footer {
      padding: 18px 100px; } }
